{{#if hasIcon}}
    <i {{action toggle}} {{bind-attr class="iconClass"}}></i>
{{else}}
    <a {{action toggle}} class="text">*</a>
{{/if}}

<span {{action select}} {{bind-attr class="nodeSelectedClasses :title"}}>{{model.title}}
</span>
{{#if tree.hovered-actions}}
    <span class="actions">
    {{#each tree.hovered-actions}}
        {{em-tree-node-icon-action meta=this}}</i>
    {{/each}}
    </span>
{{/if}}


{{#if expanded}}
    {{em-tree-branch model=model tree=tree async=async targetObject=targetObject}}
{{/if}}